@import "_hover1.scss";
@import "_hover2.scss";
@import "_hover3.scss";
@import "_hover4.scss";
@import "_hover5.scss";



html{
    padding: 0;
    margin: 0;
    font-size: 62.5%
}
.title-parent{
    width: 30rem;
    height: 30rem;
    margin: 0 auto;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.title{
    font-size: 20rem;
    transition: transform 1s;
}

.title:hover{
    transform: skewX(-40deg);
}


.animation{
    
}