html{
    padding: 0;
    margin: 0;
    font-size: 62.5%
}

.gallery-parent{
    // text-align: center;
    width:60rem;
    height: 4rem;
    margin: auto;

}

.gallery{

}
.pd6-photos{
    height: 20rem;
    position: absolute; 
}