@import "_hover1.scss";
@import "_hover2.scss";
@import "_hover3.scss";
@import "_hover4.scss";
@import "_hover5.scss";



html{
    padding: 0;
    margin: 0;
    font-size: 62.5%
}
.title-parent{
    width: 30rem;
    height: 30rem;
    margin: 0 auto;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.title{
    font-size: 20rem;
    transition: transform 1s;
}

.title:hover{
    transform: skewX(-40deg);
}


.animation-parent{
    display: flex;
    width: 30rem;
    height:30rem;
    margin:0 auto;
    justify-content: center;
    align-items: center;
}

.animation{
    width: 20rem;
    height: 20rem; 
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
    animation-direction: alternate;
    position: relative;
}

@keyframes example {
    0% {background: red; left: 0px; top: 0px;}
    25%   {background: red; left: 5rem; top: 0rem;}
    50%  {background: yellow; left: 0rem; top: -5rem;}
    75%  {background: blue; right: 5rem; top: 0rem;}
    100%  {background: green; left: 0rem; top: 5rem;}

}

    